VITE_SUPABASE_URL=https://idyldurlqgocedpuiybx.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImlkeWxkdXJscWdvY2VkcHVpeWJ4Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODg4NjQ0NzAsImV4cCI6MjEwNDQ0MDQ3MH0.GCZHcjSUpMcGByxipFW93Dhapb8uUzKHODtDvtWEwKE
